/* Smaill Device (Mobile) & (600px and down) */

@media screen and (max-width: 600px) {
  /* Shared styles */

  .container {
    width: 90%;
    max-width: 600px;
  }

  /* Header Section */
  .header {
    margin-top: 30px;
  }

  /* Navbar Section Start */

  .navbar .nav-menu {
    text-align: right;
  }

  .navbar .nav-menu ul {
    display: none;
  }

  .navbar .nav-menu .fa-bars {
    display: inline;
    font-size: 1.5rem;
  }

  .navbar .nav-logo h3 {
    color: #131318;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 10px;
  }

  .navbar .nav-logo img {
    width: 40px;
  }

  .navbar .nav-logo #logo-highlight {
    color: #ff5400;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

/* Navbar Section End */

/* Start Banner Section */

.banner {
  background-size: cover;
  height: 630px;
  }

  .banner .banner-text h2 {
    font-size: 2.4rem;
    padding-top: 40px;
  }

  .banner .banner-text p {
    width: 400px;
  }

  .banner .banner-search-box {
    flex-direction: column;
    width: 470px;
  }

  .banner .banner-search-box input {
    width: 100%;
  }

  .banner .banner-search-box button {
    width: 100%;
  }

  .when-down-arrow {
    top: 114px;
    left: 410px;
  }

  .select-type-down-arrow {
    top: 190px;
    left: 410px;
  }

  /* End Banner Section */

  /* Start Popular Tour Section */

  .popular-tour {
    flex-direction: column;
    gap: 40px;
  }

  .popular-tour .popular-tour-description h2 {
    font-size: 1.8rem;
  }

  .popular-tour-description {
    width: 100%;
  }

  .popular-tour-img {
    width: 100%;
  }

  /* End Popular Tour Section */

  /* Start Destination Section */

  .destination-img-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 25px;
  }
  
  .destination-img-container .img-item-1 {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
  }
  
  .destination-img-container .img-item-2 {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
  }
  
  .destination-img-container .img-item-3 {
    grid-column: 1/span 1;
    grid-row: 3/span 1;
  }
  
  .destination-img-container .img-item-4 {
    grid-column: 1/span 1;
    grid-row: 4/span 1;
  }
  
  .destination-img-container .img-item-5 {
    grid-column: 1/span 1;
    grid-row: 5/span 1;
  }
  
  .destination-img-container .img-item-6 {
    grid-column: 1/span 1;
    grid-row: 6/span 1;
  }
  
  .destination-img-container .img-item-7 {
    grid-column: 1/span 1;
    grid-row: 7/span 1;
  }

  .destination-img-item img {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .destination-img-container .destination-img-item {
    height: 300px;
  }

  /* End Destination Section */

    /* Start Choose Us Section */

    .choose-us-card-up {
      flex-direction: column;
      row-gap: 25px;
    }
  
    .choose-us-card-up .card-1 {
      width: 100%;
    }
  
    .choose-us-card-up .card-2 {
      width: 100%;
    }
  
    .choose-us-card-down .card-3 {
      width: 100%;
    }

    .choose-us .choose-us-description h2 {
      font-size: 2rem;
    }
    
    .choose-us .choose-us-description p {
      width: 450px;
      margin: 25px auto 0;
    }

    /* End Choose Us Section */








}


















/* Medium Device (Tab), (600px and up) (800px and down) */

@media screen and (min-width: 601px) and (max-width: 800px) {
 
    /* Shared styles */

    .container {
      width: 90%;
      max-width: 800px;
    }
  
    /* Header Section */
    .header {
      margin-top: 35px;
    }
  
    /* Navbar Section Start */
  
    .navbar .nav-menu {
      text-align: right;
    }
  
    .navbar .nav-menu ul {
      display: none;
    }
  
    .navbar .nav-menu .fa-bars {
      display: inline;
      font-size: 2rem;
    }
  
    .navbar .nav-logo h3 {
      color: #131318;
      font-size: 2.25rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin-left: 10px;
    }
  
    .navbar .nav-logo img {
      width: 50px;
    }
  
    .navbar .nav-logo #logo-highlight {
      color: #ff5400;
      font-size: 2.25rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }
  
  /* Navbar Section End */

  /* Start Banner Section */

.banner {
  background-size: cover;
  height: 630px;
  }

  .banner .banner-text h2 {
    font-size: 3rem;
    padding-top: 40px;
  }



  .banner .banner-search-box {
    flex-direction: column;
    width: 600px;
  }

  .banner .banner-search-box input {
    width: 100%;
  }

  .banner .banner-search-box button {
    width: 100%;
  }

  .when-down-arrow {
    top: 114px;
    left: 540px;
  }

  .select-type-down-arrow {
    top: 190px;
    left: 540px;
  }

  /* End Banner Section */

    /* Start Popular Tour Section */

    .popular-tour {
      flex-direction: column;
      gap: 40px;
    }
  
    .popular-tour .popular-tour-description h2 {
      font-size: 1.8rem;
    }
  
    .popular-tour-description {
      width: 100%;
    }

    .popular-tour-img img {
      width: 100%;
    }

    .popular-tour-img {
      border: 1px solid red;
      width: 100%;
    }

    /* End Popular Tour Section */

    /* Start Banner Section */

.banner {
  background-size: cover;
  height: 630px;
  }

  .banner .banner-text h2 {
    font-size: 2.4rem;
    padding-top: 40px;
  }

  .banner .banner-text p {
    width: 400px;
  }

  .banner .banner-search-box {
    flex-direction: column;
    width: 470px;
  }

  .banner .banner-search-box input {
    width: 100%;
  }

  .banner .banner-search-box button {
    width: 100%;
  }

  .when-down-arrow {
    top: 114px;
    left: 410px;
  }

  .select-type-down-arrow {
    top: 190px;
    left: 410px;
  }

  /* End Banner Section */

  /* Start Popular Tour Section */

  .popular-tour {
    flex-direction: column;
    gap: 40px;
  }

  .popular-tour .popular-tour-description h2 {
    font-size: 1.8rem;
  }

  .popular-tour-description {
    width: 100%;
  }

  .popular-tour-img {
    width: 100%;
  }

  /* End Popular Tour Section */

  /* Start Destination Section */

  .destination-img-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 25px;
  }
  
  .destination-img-container .img-item-1 {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
  }
  
  .destination-img-container .img-item-2 {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
  }
  
  .destination-img-container .img-item-3 {
    grid-column: 1/span 1;
    grid-row: 3/span 1;
  }
  
  .destination-img-container .img-item-4 {
    grid-column: 1/span 1;
    grid-row: 4/span 1;
  }
  
  .destination-img-container .img-item-5 {
    grid-column: 1/span 1;
    grid-row: 5/span 1;
  }
  
  .destination-img-container .img-item-6 {
    grid-column: 1/span 1;
    grid-row: 6/span 1;
  }
  
  .destination-img-container .img-item-7 {
    grid-column: 1/span 1;
    grid-row: 7/span 1;
  }

  .destination-img-item img {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .destination-img-container .destination-img-item {
    height: 400px;
  }


  .destination-img-item figcaption {
    left: 40%;
  }

  /* End Destination Section */

      /* Start Choose Us Section */

      .choose-us-card-up {
        flex-direction: column;
        row-gap: 25px;
      }
    
      .choose-us-card-up .card-1 {
        width: 100%;
      }
    
      .choose-us-card-up .card-2 {
        width: 100%;
      }
    
      .choose-us-card-down .card-3 {
        width: 100%;
      }
  
      .choose-us .choose-us-description h2 {
        font-size: 2rem;
      }
  
      /* End Choose Us Section */



































}