/* Shared styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

.container {
  width: 80%;
  max-width: 1170px;
  margin: 0 auto;
}

.primary-btn {
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 15px 35px;
  border-radius: 8px;
  background-color: #FF5400;
  border: none;
}

/* Header Section Styling */

.header {
  margin-top: 50px;
}

/* Start Navbar Section */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .nav-logo {
  display: flex;
  align-items: center;
  width: 50%;
}

.navbar .nav-logo h3 {
  color: #131318;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 16px;
}

.navbar .nav-logo #logo-highlight {
  color: #ff5400;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.navbar .nav-menu {
  width: 45%;
}

.navbar .nav-menu .fa-bars {
  display: none;
}

.navbar .nav-menu #menu-highlight {
  color: #ff5400;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.navbar .nav-menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .nav-menu ul li a {
  text-decoration: none;
  color: #424247;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* End Navbar Section */

/* Start Banner Section */

.banner {
  text-align: center;
  margin-top: 50px;
  background-image: linear-gradient(180deg,
      rgba(19, 19, 24, 0.8),
      rgba(19, 19, 24, 0)),
    url("../images/Group\ 13\ \(1\)\ \(1\).png");
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  border-radius: 16px;
  object-fit: cover;
}

.banner .banner-text h2 {
  color: #fff;
  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-top: 100px;
}

.banner .banner-text p {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  padding-top: 25px;
  width: 676px;
  margin: 0 auto;
}

.banner .banner-search-box {
  width: 790px;
  display: flex;
  gap: 25px;
  justify-content: space-between;
  padding: 20px;
  margin: 50px auto 100px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
}

.banner .banner-search-box input {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background-color: #fff;

  color: rgba(19, 19, 24);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 10px;
  border: 0;
}

.banner .banner-search-box button {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background-color: #ff5400;
  border: none;

  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.banner .banner-search-box .fa-magnifying-glass {
  padding-right: 10px;
}

.when-down-arrow {
  color: rgba(19, 19, 24, 0.50);
  font-size: 1.4rem;
  position: absolute;
  left: 360px;
  top: 38px;
}

.select-type-down-arrow {
  color: rgba(19, 19, 24, 0.50);
  font-size: 1.4rem;
  position: absolute;
  left: 560px;
  top: 38px;
}

/* End Banner Section */

/* Main Section Styling */

/* Start Popular Tour Section */

.popular-tour {
  margin-top: 100px;
  display: flex;
}

.popular-tour-description {
  width: 50%;
}

.popular-tour-img {
  width: 50%;
  text-align: right;
}

.popular-tour-img img {
  height: 100%;
  object-fit: cover;
}



.popular-tour .popular-tour-description h2 {
  color: #131318;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.popular-tour .popular-tour-description p {
  color: rgba(19, 19, 24, 0.70);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  margin-top: 30px;
  width: 95%;
}

.popular-tour .popular-tour-description ul {
  color: rgba(19, 19, 24, 0.70);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  margin-top: 30px;
  width: 90%;
  padding-left: 25px;
}

.popular-tour .popular-tour-description ul li {
  width: 525;
}

.popular-tour .popular-tour-description button {
  margin-top: 40px;
}

/* End Popular Tour Section */

/* Start Destination Section */

.destination {
  margin-top: 100px;
}

.destination .destination-description {
  text-align: center;
}

.destination .destination-description h2 {
  color: #131318;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.destination .destination-description p {
  color: rgba(19, 19, 24, 0.70);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  margin: 25px auto 0;
  width: 55%;
}


.destination-img {
  margin-top: 50px;
}

.destination-img-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 25px;
}

.destination-img-container .img-item-1 {
  grid-column: 1/span 6;
  grid-row: 1/span 1;
}

.destination-img-container .img-item-2 {
  grid-column: 7/span 6;
  grid-row: 1/span 1;
}

.destination-img-container .img-item-3 {
  grid-column: 1/span 4;
  grid-row: 2/span 1;
}

.destination-img-container .img-item-4 {
  grid-column: 5/span 5;
  grid-row: 2/span 1;
}

.destination-img-container .img-item-5 {
  grid-column: 10/span 3;
  grid-row: 2/span 1;
}

.destination-img-container .img-item-6 {
  grid-column: 1/span 5;
  grid-row: 3/span 1;
}

.destination-img-container .img-item-7 {
  grid-column: 6/span 7;
  grid-row: 3/span 1;
}


.destination-img-item {
  position: relative;
}

.destination-img-item img {
  width: 100%;
  height: 100%;
}

.destination-img-item figcaption {
  position: absolute;
  color: #FFF;
  text-align: center;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  bottom: 43%;
  left: 33%;
}

/* End Destination Section */

/* Start Choose Us Section */

.choose-us {
  margin-top: 100px;
}

.choose-us .choose-us-description {
  text-align: center;
}

.choose-us .choose-us-description h2 {
  color: #131318;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.choose-us .choose-us-description p {
  color: rgba(19, 19, 24, 0.70);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  width: 640px;
  margin: 25px auto 0;
}

.choose-us-card {
  margin-top: 50px;
}

.choose-us-card-up {
  display: flex;
  column-gap: 25px;
  justify-content: space-between;
}

.choose-us-card .choose-us-card-down {
  margin-top: 25px;
}

.choose-us-card-up .card-1 {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.20);
  background-color: rgba(251, 181, 99, 0.05);
  padding: 32px;
  width: 49%;
}

.choose-us-card-up .card-2 {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.20);
  background-color: rgba(41, 206, 246, 0.05);
  padding: 32px;
  width: 49%;
}

.choose-us-card-down .card-3 {
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.20);
  background-color: rgba(233, 68, 68, 0.05);
  padding: 32px;
  width: 50%;
  margin: 0 auto;
}

.choose-us-card .card h3 {
  color: #131318;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 32px;
}

.choose-us-card .card p {
  color: #5A5A5D;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  margin-top: 16px;
  width: 486px;
}

/* End Choose Us Section */

/* Start Deals Section */

.deals .deals-text {
  margin-top: 100px;
  text-align: center;
}

.deals .deals-text h3 {
  color: #131318;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.deals .deals-text p {
  color: rgba(19, 19, 24, 0.70);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  width: 645px;
  margin: 25px auto 0;
}

.deals .deals-btn {
  margin-top: 50px;
  text-align: center;
}

.deals .deals-card {
  margin-top: 50px;
}


.deals .deals-card .deals-card-1 {
  height: 500px;
  border: .25px solid #fff;
  border-radius: 16px;
  background-image: url('../images/Group\ 39.png');
}

.deals .deals-card .deals-card-2 {
  height: 500px;
  border: .25px solid #fff;
  border-radius: 16px;
  background-image: url('../images/Group\ 40.png');
  margin-top: 25px;
}

.deals .deals-card .deals-card-3 {
  height: 500px;
  border: .25px solid #fff;
  border-radius: 16px;
  background-image: url('../images/Group\ 39.png');
  margin-top: 25px;
}

.deals .deals-card .card-description {
  width: 580px;
  height: 390px;
  padding: 50px;
  margin: 55px 55px 55px auto;
  border-radius: 16px;
  border: 2px solid #FFF;
  background: rgba(255, 255, 255, 0.80);
  backdrop-filter: blur(2.5px);
}

.deals .deals-card-2 .card-description {
  width: 580px;
  height: 390px;
  padding: 50px;
  margin: 55px auto 55px 55px;
  border-radius: 16px;
  border: 2px solid #FFF;
  background: rgba(255, 255, 255, 0.80);
  backdrop-filter: blur(2.5px);
}

.card-description .card-description-details {
  display: flex;
  align-items: center;
}

.card-description .card-description-details .fa-solid {
  font-size: 1rem;
  color: #FF5400;
  margin-right: 10px;
}

.card-description .card-description-details>p {
  color: #5A5A5D;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 50px;
}

.deals-card .card-description h2 {
  color: #131318;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 25px;
}

.deals-card .card-description .more-details {
  color: #5A5A5D;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  width: 450px;
  margin-top: 15px;
}

.deals-card .card-description h3 {
  color: #FF5400;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 15px;
}

.deals-card .card-description button {
  margin-top: 25px;
}

/* End Sales Section */

/* Start Perfect Place Section */

.perferct-place {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.perfect-place-img {
  position: relative;
}

.perfect-place-img .icon-1 {
  position: absolute;
  right: 25px;
  top: 400px;
}

.perfect-place-img .icon-2 {
  position: absolute;
  right: 520px;
  top: 365px;
}

.perfect-place-img .icon-3 {
  position: absolute;
  top: 365px;
  right: 30px;
}

.perferct-place .perfect-place-img h3 {
  color: #FFF;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  /* 150% */
  position: absolute;
  bottom: 180px;
  left: 170px;
}


.perferct-place .perfect-place-description h2 {
  color: #131318;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 60px;
  /* 150% */
}

.perferct-place .perfect-place-description p {
  color: #5A5A5D;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  width: 530px;
  line-height: 26px;
  /* 162.5% */
  margin-top: 25px;
}

.perferct-place .perfect-place-description ul {
  color: #131318;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  /* 162.5% */
  margin-top: 25px;
  width: 518px;
  padding-left: 30px;
}

.perferct-place .perfect-place-description button {
  margin-top: 30px;
}

/* End Perfect Place Section */

/* Start News Letter Section */


.newsletter {
  margin-top: 100px;
  display: flex;
  column-gap: 25px;
}

.newsletter .newsletter-description {
  padding: 40px;
  border-radius: 16px;
  border: 1px solid #FF5400;
}

.newsletter .newsletter-description h3 {
  color: #131318;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.newsletter .newsletter-description p {
  color: #5A5A5D;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  width: 350px;
  margin-top: 15px;
}

.newsletter .newsletter-description hr {
  height: 1px;
  background: rgba(19, 19, 24, 0.10);
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
}

.newsletter .newsletter-description input {
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  border: none;
  padding: 16px;
  padding-right: 46%;
  margin-bottom: 15px;

  color: rgba(19, 19, 24, 0.30);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.newsletter .newsletter-description button {
  padding: 15px 150px;
}

.newsletter-img .newsletter-discount-section {
  position: absolute;
  bottom: 5px;
  right: 1px;
}

.newsletter-img {
  position: relative;
}

/* End News Letter Section */